{% extends 'base.html' %}

{% block title %}Chat History{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <script src="{{ url_for('static', path='/js/chatbot.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row flex-nowrap">
    <!-- Sidebar Menu -->
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-md-start px-3 pt-2 min-vh-100">
        <span class="mb-3 menu" style="color: white; display: block; text-align: center; font-size: x-large;">메뉴</span>
        <!-- <a href="#" class="mb-3 new-case"><img src="/static/img/file_add.png" class="img-fluid btn new-case-icon"></a> -->
        <a href="#" class="mb-3 upload-case"><img src="/static/img/file_folder.png" class="img-fluid btn upload-case-icon"></a>
        <a href="#" class="mb-3 data-manage"><img src="/static/img/document.png" class="img-fluid btn data-manage-icon"></a>
        <a href="#" alt="" class="mb-3 chatbot-icon"><img src="/static/img/chat.png" class="img-fluid btn chatbot-icon"></a>
      </div>
    </div>
    <!-- Main Content -->
    <div class="col bg-light chat-menu-area">
      <div page_name class="mb-4">
        <ul class="nav nav-tabs section-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Chat History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chatbot_graph">Graph</a>
          </li>
        </ul>
      </div>
      <div class="chat-history-section">
        <ul class="chat-history-lst">
          <div class="row">
          </div>
          <div class="no-history">
            <h2>생성된 기록이 없습니다.<br>챗봇과 새로운 대화를 시작해보세요.</h2>
          </div>
        </ul>
      </div>
    </div>
    <div class="col bg-light chatbot-area">
      <div class="chatbot">
        <header>
          <h2>DF Chatbot</h2>
        </header>
        <ul class="chatbox" style="height: 600px; width: 600px;">
          <li class="chat incoming">
            <span class="material-symbols-outlined">smart_toy</span>
            <p>안녕하세요<br>저는 Digital Forensic Chatbot입니다.<br>올려주신 데이터에 대해 질문해주세요!</p>
          </li>
          <li class="chat outgoing">
            <p>input 예시입니다.</p>
          </li>
        </ul>
        <div class="chat-input">
          <textarea id="user-message" placeholder="메세지를 입력하고 Enter를 눌러주세요" required></textarea>
          <button id="send-button" style="background-color: transparent; border: none; display: none;"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      iconDecision();
      const sendButton = document.getElementById('send-button');
      const chatInput = document.getElementById('user-message');
  
      chatInput.addEventListener('input', function() {
          sendButton.style.display = this.value.trim() === '' ? 'none' : 'inline-block';
      });
  
      sendButton.addEventListener('click', sendMessage);
  
      chatInput.addEventListener('keydown', function(event) {
          if (event.key === 'Enter' && !event.shiftKey) {
              event.preventDefault(); // 엔터 키 기본 동작 방지
              sendMessage();
          }
      });
  
      function sendMessage() {
          const message = chatInput.value.trim();
          if (message !== '') {
              // 여기에 메시지를 전송하는 기능을 추가하세요.
              chatInput.value = ''; // 메시지 전송 후 입력창 초기화
              sendButton.style.display = 'none'; // 전송 후 send 아이콘 숨김
          }
      }
  });
  
  // 'Upload Case' 이미지 클릭 시 이동
  document.querySelector('.upload-case').addEventListener('click', function(event) {
      event.preventDefault(); // 기본 동작(링크 이동) 방지
      window.location.href = '/upload_case'; // upload_case 페이지로 이동
  });
  
  // 'Data Manage' 이미지 클릭 시 이동
  document.querySelector('.data-manage').addEventListener('click', function(event) {
      event.preventDefault(); // 기본 동작(링크 이동) 방지
      window.location.href = '/data_manage'; // data_manage 페이지로 이동
  });
  
  // 'Chatbot' 이미지 클릭 시 이동
  document.querySelector('.chatbot-icon').addEventListener('click', function(event) {
      event.preventDefault(); // 기본 동작(링크 이동) 방지
      window.location.href = '/chatbot_bar'; // chatbot 페이지로 이동
  });
  </script>
  
  
{% endblock %}
